<div class="row mt-4 mx-md-3 mx-1 my-3">
  <div class="col-1 text_center d-none d-lg-block">
    <img
      [src]="album!.images | imageURL"
      style="width: 65px"
      alt=""
      class="img-thunbnail rounded-circle"
    />
  </div>
  <div class="col">
    <h2 [ngClass]="theme" >{{ this.album?.name }}</h2>
    <p class="fw-medium">
      <a href="{{ this.album?.external_urls?.spotify }}">Pagina de Spotify</a>
    </p>
  </div>

  <div class="col-2">
    <button
      type="button"
      routerLink='/recent'
      routerLinkActive="router-link-active"
      class="my-3 btn btn-outline-danger fw-bold"
    >
    <i class="pi pi-angle-left"></i>
      Volver
    </button>
  </div>
  <div class="row">

    <div class="col m-3">
          <audio class="w-100 mx-3" controls [src]="albumTracks[this.index].preview_url"></audio>
          <p class="fst-italic fs-5 text-white  mx-3">{{albumTracks[this.index].name}}
          @if(albumTracks[this.index].explicit==true){
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="10"
              fill="currentColor"
              class="bi bi-explicit-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0zm4.326 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826z"
              />
            </svg>
            }
          </p>
        </div>
  </div>
  <div class="row mx-md-3 mx-1 my-3">
  <table class="rounded-2 trackTable">
    <thead>
      <tr class="">
        <th scope="col" class="py-3 text-center d-md-grid text-white fs-5 fw-medium">#</th>
        <th scope="col " class="text-start py-3 text-white fs-5 fw-medium">Canción</th>
        <th scope="col" class="py-3 text-center text-white fs-5 fw-medium">Duración</th>
      </tr>
    </thead>
    <tbody>
      @for( cancion of albumTracks; track $index){
      <tr class="pt-5 text-white text-center albumRow" (click)="changeIndex(cancion.track_number)">
        <td>
          {{cancion.track_number}}
        </td>
        <td class="pt-2 text-start">
         {{ cancion.name }}
            @if(cancion.explicit==true){
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="10"
              fill="currentColor"
              class="bi bi-explicit-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0zm4.326 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826z"
              />
            </svg>
            }
        </td>
        <td class="pt-2 text-white">
          {{ getMinute(cancion.duration_ms).getMinutes() }}:
          @if(getMinute(cancion.duration_ms).getSeconds() >= 10){
          {{ getMinute(cancion.duration_ms).getSeconds() }}}@else {0{{
            getMinute(cancion.duration_ms).getSeconds()
          }}
          }
        </td>

      </tr>
      }@empty {
      <tr>
        <div class="col-12 mt-5">
          <div class="alert alert-info" role="alert">Cargando Novedades...</div>
        </div>
      </tr>
      }
    </tbody>
  </table>
</div>
