<div class="row my-5">
  <div class="col d-grid text-center">
    <h3 class="display-3 text-white">Lanzamientos Recientes</h3>
  </div>
</div>
<div class="row my-5">
  @for (novedad of this.albums?.albums?.items; track $index) {
  <div class="col-lg-4 col-md-5 col-xl-3  py-3">
    <div class="card m-2 spotifycards rounded-2 border border-0">
      <a [routerLink]="['/album', novedad.id]">
        <img

            class="card-img-top  rounded-top-2"
            style="height: 300px;"
            [src]="
             novedad.images[2].url"
            alt="{{ 'Imagen del artista ' + novedad.name }}"
          />
      </a>
      <div class="card-body bg-dark text-white rounded-bottom-2">
        <a
          class="link-underline link-underline-opacity-0  text-white"
          href="{{ novedad.external_urls.spotify }}"
        >
          <h5 class="card-title songTitle">{{ novedad.name }}</h5>
        </a>
        <p class="card-text">
          @for (artista of novedad.artists; track $index) {
          <a
            [routerLink]="['/artista', artista.id]"
            class="badge btn btn-outline-secondary rounded-2 me-1 mt-1 p-1"
          >
            {{ artista.name }}
          </a>
          }
        </p>
      </div>
    </div>
  </div>
  }@empty {
  <div class="col-12 mt-5">
    <div class="alert alert-info" role="alert">Cargando Novedades...</div>
  </div>
  }
</div>
