<div class="row pt-5  mb-5">
  <div class="col d-grid text-center">
    <h3 class="display-3 fw-normal" [class]="theme">Artistas</h3>
  </div>
</div>
<div class="row my-3 ms-5 ps-md-5 ps-2">
  <div class="col-8 ms-md-5 ps-md-5 ps-2">
    <input
      #artista
      type="text"
      (keyup)="buscar(artista)"
      class="form-control "
      placeholder="Artista"
    />
  </div>
  <div class="col-2">
    <button class="btn btn-outline-success mx-2" (click)="buscar(artista)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi d-none d-lg-inline bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
        />
      </svg>
      Buscar
    </button>
  </div>
  <!--
    <div class="col-2">
      <a class="btn btn-outline-success rounded-0" routerLink='/forms' routerLinkActive="router-link-active">Busqueda Detallada</a>
    </div>
  -->

</div>

<div class="row m-3 ">
  <div class="row">
    @for (artista of artistas?.items; track $index) {
    <div class="col-lg-4 col-md-5 col-xl-3  my-3">
      <div class="card m-2 spotifycards rounded-3  border border-0">
        <a [routerLink]="['/artista', artista.id]">
          <img
            style="height: 300px"
            class="card-img-top p-5"
            [src]="
              artista.images
                | imageURL
                  : 'https://upload.wikimedia.org/wikipedia/commons/b/b9/No_photo_%282067963%29_-_The_Noun_Project.svg'
            "
            alt="{{ 'Imagen del artista ' + artista.name }}"
          />
        </a>
        <div class="card-body  text-dark py-4">
          <a
            class="link-offset-2 link-underline link-underline-opacity-0"
            [routerLink]="['/artista', artista.id]"
          >
            <h5 class="card-title ps-3 spotifycardText">{{ artista.name }}</h5>
          </a>
          <p class="badge badge-pill ms-2 spotifycardText" [class]="theme">{{ artista.followers.total }} seguidores
          </p>
        </div>
      </div>
    </div>
    }@empty { @if(artista.value){
    <div class="alert alert-info m-3">No hay artistas</div>
    } }
  </div>
  @if (this.artistas?.next){
  <div class="row m-2">
    <div class="col-md-3 col-4">
      <button class="btn btn-outline-secondary rounded-0 fw-bold text-white" (click)="verMas()">Ver Más</button>
    </div>

  </div>
  }
</div>
