<div class="footer">
  <div class="container">
    <div class="row">
      <!-- Información de la empresa -->
      <div class="col">
        <h5>Nuestra Empresa</h5>
        <ul  class="list-unstyled">
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Nuestro equipo</a></li>
          <li><a href="#">Carreras</a></li>
        </ul>
      </div>
      <!-- Información de contacto -->
      <div class="col">
        <h5>Contacto</h5>

        <div class="content">
          <!-- Aquí va el contenido principal de la página -->
        </div>


        <ul class="list-unstyled">
          <li>
            <a href="mailto:info@empresa.com"
              ><i class="pi pi-envelope"></i> correo</a
            >
          </li>
          <li>
            <a href="tel:+1234567890"
              ><i class="pi pi-phone"></i> +1 234 567 890</a
            >
          </li>
        </ul>
      </div>
      <!-- Enlaces legales -->
      <div class="col">
        <h5>Legal</h5>
        <ul  class="list-unstyled">
          <li>
            <a href="#"
              ><i class="pi pi-shield"></i> Política de privacidad</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="pi pi-lock"></i> Términos de servicio</a
            >
          </li>
        </ul>
      </div>
      <!-- Redes sociales -->
      <div class="col">
        <h5>Síguenos</h5>
        <ul  class="list-unstyled">
          <li>
            <a href="#"><i class="pi pi-facebook"></i> Facebook</a>
          </li>
          <li>
            <a href="#"><i class="pi pi-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="#"><i class="pi pi-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Derechos de autor -->
    <div class="row">
      <div class="col">
        <p class="text-secondary">&copy; Proyecto de Fin de Grado - Santiago Tapia Eroles - ZABALBURU IKASTETXEA.<br> Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</div>
